# .env.example

# Database URL
DATABASE_URL=

# Shopify Store URL
SHOPIFY_STORE=

# Shopify Access Token
SHOPIFY_TOKEN=

# Stripe Secret Key
STRIPE_SECRET_KEY=

# Stripe Price ID
STRIPE_PRICE_ID=

# JWT Secret
JWT_SECRET=

# Next API URL
NEXT_PUBLIC_API_URL=

# Node Environment
NODE_ENV=

# Redis URL
REDIS_URL=